.authWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.authTextFieldsWrapper {
    display: flex;
    flex-direction: column;
}

.authButtonWrapper {
    margin-top: 10px;
}

.infoRegBlock {
    margin-top: 10px;
}